# Ignore raw data
data/raw/

# Ignore toàn bộ file trong data
data/*

# Nhưng vẫn giữ lại folder processed
!data/processed/
!data/processed/**

# Output
output/

# Notebook checkpoints
.ipynb_checkpoints/
notebooks/trac_nghiem.ipynb

# Python
__pycache__/
*.pyc

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db